
PORT=3000
#https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL='http://Localhost:3000/payments/success'
STRIPE_CANCEL_URL='http://Localhost:3000/payments/cancel'

#https://dashboard.stripe.com/test/webhooks/we_1PTv6hCtINwAC0IY2UreTpTj
#Este es el signing secrect
STRIPE_ENDPOINT_SECRET=